:root {
  --mob-font-size: 12px;
  --border-radius: 12px;
}

.BoxContainer {
  background-color: #012366;
  border: none;
  color: white;
  padding: 0 20px;
  margin: 10px 5px 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

@media (min-width: 45em) {
  .BoxContainer {
    margin: 10px 0 0;
  }
}

.Icon {
  display: inline;
  vertical-align: middle;
}

.ProductName {
  display: inline;
  vertical-align: middle;
}

@media (max-width: 44.99em) {
  .ProductName {
    font-size: var(--mob-font-size);
  }
}

@media (max-width: 44.99em) {
  .RightDivText {
    font-size: var(--mob-font-size);
  }
}

.ProuctImage {
  display: inline;
}

@media (min-width: 45rem) {
  .ProductDescription {
    display: inline-block;
    width: auto;
  }
}

.BoxContainerOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ButtonContainer {
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 44.99em) {
  .ButtonContainer {
    padding: 0 0 2px;
  }
}

.ListContainer {
  margin: auto;
  width: 100%;
}

.RightTextContainer {
  margin-left: auto;
}

@media (max-width: 44.99rem) {
  .RightTextContainer {
    margin-right: 10px;
  }
}